
@{
    ViewBag.Title = "AboutGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <table class="login" style="width: 50%;">
        <tr>
            <td>
                Walking home™ is set in the Eldritch Shadows™ world. A world very similar to our own but in this world ther is thing that goes bump in the night, or is there?
                Walking home™ ties in whit the Eldritch Shadows™ Roleplaying game (releas date pending.)
            </td>
        </tr>
    </table>
</body>
</html>