
@{
    ViewBag.Title = "AboutThreeSirs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <table class="login" style="width: 50%;">
        <tr>
            <td>
                Walking home™ is made by Three Sirs Inc. <br>
                Members of Three Sirs Inc is: <br>
                SirFunky: Creative person whit idés but bad at implementing them! <br>
                SirSpunky: Good at evrything! <br>
                SirMonky: A world renownd muscian and zerg player! <br>
            </td>
        </tr>
    </table>
</body>
</html>