
@{
    ViewBag.Title = "ToCentrum1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<table class="login" style="width: 50%;">
    <tr>
        <td>
            <img src="../images/ToCentrum1.jpg" alt="Starting to walk towards centrum." width="720" height="512" usemap="#roads">
            <map name="roads">
                <area shape="rect" coords="100,100,500,300" href="ToCentrum2" alt="Left road.">
            </map>
        </td>
    </tr>
    <tr>
        <td>
            The growling of your stomach made it an easy decision so you start walking toward centrum in search of food.
        </td>
    </tr>
</table>
</body>

