
@{
    ViewBag.Title = "ToCentrum6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<table class="login" style="width: 50%;">
    <tr>
        <td>
            <img src="../images/ToCentrum6.jpg" alt="Starting to walk towards centrum." width="720" height="512" usemap="#roads">
            <map name="roads">
                <area shape="rect" coords="100,100,500,300" href="FastFood" alt="Left road.">
            </map>
        </td>
    </tr>
    <tr>
        <td>
            Alright almost att food!
        </td>
    </tr>
</table>
</body>