
@{
    ViewBag.Title = "ToCentrum2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<table class="login" style="width: 50%;">
    <tr>
        <td>
            <img src="../images/ToCentrum2.jpg" alt="Starting to walk towards centrum." width="720" height="512" usemap="#roads">
            <map name="roads">
                <area shape="rect" coords="100,100,500,300" href="ToCentrum3" alt="Left road.">
            </map>
        </td>
    </tr>
    <tr>
        <td>
            You feal how mentaly fatigued you are after countless hours on the school project!
        </td>
    </tr>
</table>
</body>

