
@{
    ViewBag.Title = "ToCentrum3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>
<table class="login" style="width: 50%;">
    <tr>
        <td>
            <img src="../images/ToCentrum3.jpg" alt="Starting to walk towards centrum." width="720" height="512" usemap="#roads">
            <map name="roads">
                <area shape="rect" coords="100,100,500,300" href="ToCentrum4" alt="Left road.">
            </map>
        </td>
    </tr>
    <tr>
        <td>
            You are starting to wounder how long you actualy spent on that class project since evrything seams closed.
        </td>
    </tr>
</table>
</body>